<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="wisepet_slider" frontName="slider">
            <module name="Wisepet_Slider" />
        </route>
    </router>
</config>
