<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Wisepet\Slider\Ui\Component\Entity\Edit\Button\Save" type="Wisepet\ScopedEav\Ui\Component\Entity\Edit\Button\Save">
        <arguments>
            <argument name="formName" xsi:type="string">slider_entity_form.slider_entity_form</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wisepet\Slider\Ui\DataProvider\Slider\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="eav" xsi:type="array">
                    <item name="class" xsi:type="string">Wisepet\ScopedEav\Ui\DataProvider\Entity\Form\Modifier\Eav</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="attribute_set_id" xsi:type="array">
                    <item name="class" xsi:type="string">Wisepet\Slider\Ui\DataProvider\Slider\Form\Modifier\AttributeSet</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="system" xsi:type="array">
                    <item name="class" xsi:type="string">Wisepet\ScopedEav\Ui\DataProvider\Entity\Form\Modifier\System</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Wisepet\Slider\Ui\DataProvider\Slider\Form\SliderDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Wisepet\Slider\Ui\DataProvider\Slider\Form\Modifier\Pool</argument>
        </arguments>
    </type>

    <type name="Wisepet\Slider\Controller\Adminhtml\Entity\Index">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Wisepet\Slider\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>

    <type name="Wisepet\Slider\Controller\Adminhtml\Entity\NewAction">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Wisepet\Slider\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>
    
    <type name="Wisepet\Slider\Controller\Adminhtml\Entity\Edit">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Wisepet\Slider\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>
    
    <type name="Wisepet\Slider\Controller\Adminhtml\Entity\Delete">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Wisepet\Slider\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>
    
    <type name="Wisepet\Slider\Controller\Adminhtml\Entity\Reload">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Wisepet\Slider\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>
    
    <type name="Wisepet\Slider\Controller\Adminhtml\Entity\Save">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Wisepet\Slider\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>

    <type name="Magento\Ui\DataProvider\Mapper\FormElement">
        <arguments>
            <argument name="mappings" xsi:type="array">
                <item name="wisepet_slider" xsi:type="string">input</item>
            </argument>
        </arguments>
    </type>

</config>
